# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
apps/mobile/expo-env.d.ts

# Next.js
apps/api/.next/
apps/api/out/

# Env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Build outputs
*.tsbuildinfo
